<!--

body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, select, input, textarea
	{ font-family: Verdana, Arial, Helvetica, sans-serif; }
tt, pre { font-family: "Courier New", Courier, mono, monospace; }
body, div, p, form, ul, ol, li, th, td { font-size: 14px; color: #000000; }
select, input, textarea { font-size: 12px; color: #000000; }
h2 { font-size: 18px; color: #000000; }
h3 { font-size: 16px; color: #000000; }
h4 { }
.qs { font-size: 12px; color: #000000; }
.blurb { font-size: 13px; }
table { border-collapse: collapse; border: hidden;}
/* hr { }
ul { }
OL { }
.small { }
.big { }
.bodystyle { }
.smaller { }
.smaller_reversed { }
.smaller_reversed_nodecoration { }
.box1 { }
.box2 { }
.menu { }
.mNote { } */

/* III STYLE CLASSES: Version 2006 LE */

/* AUTHORITY REDIRECTION CLASSES */
/* TD.authTerm { }
TD.unauthTerm { } */

/* BIBLIOGRAPHIC DISPLAY CLASSES */
bibBookingsHeader { }
bibDetail { }
bibHoldings { } 
bibHoldingsEntry { }
bibHoldingsHeader { }
bibHoldingsLabel  { }
bibHolds { }
bibHoldsEntry { }
bibInfo { }
bibInfoData { }
bibInfoEntry { }
bibInfoLabel { }
bibItems { }
bibItemsEntry { }
bibItemsHeader { }
bibItemsLabel { }
bibLicense { }
bibLicenseEntry { }
bibLicenseHeader { }
bibLinks { }
bibOrder
bibOrderEntry { }
bibPager { }
bibResource { }
bibResourceBrief { }
bibResourceCaption { }
bibResourceEntry { }
bibResourceEntry td { }
bibResourceHeader { }
bibResourceLicense { }
bibResourceLicenseEntry { }
bibResourceSubEntry { }
bibResourceTable { }
bibResourceTableEntry { }
bibResourceTableHeader { }
bibScreen { }
bibSearchtool { }
bibThumbnails { }
bibTOC { }
bibXML { }

/* BOOKINGS DISPLAY CLASSES */
available { }
bookingsConfirmMsg { }
bookingsItemEntry { }
bookingsItemHeader { }
bookingsLegend { }
bookingsLocation { }
bookingsSelect { }
bookingsSelectCal { }
bookingsSelectTime { }
closed { }
main { }
unavailable { }

/* BRIEF CITATION DISPLAY CLASSES */
/* briefCitItems { }
briefCitRow { } */

/* BROWSE DISPLAY CLASSES */
browseEntry { }
browseEntryData { }
browseEntryEntries { }
browseEntryMark { }
browseEntryMedia { }
browseEntryNum { }
browseEntryRelevance { }
browseEntryYear { }
browseHeader { }
browseHeaderData { }
browseHeaderMark { }
browseHeaderMedia { }
browseHeaderNum { }
browseHeaderRelevance { }
browseHeaderYear { } 
browseList { }
browsePager { }
browseResourceTable { }
browseResourceTableEntry { }
browseResourceTableHeader { }
browseSaveJump { }
browseScreen { }
browseSearchtool { }
browseSearchtoolMessage { }
browseSubEntry { }
browseSubEntryData { }
browseSubEntryEntries { }
browseSubEntryMedia { }
browseSubEntryRelevance { }
browseSubEntryYear { }
browseSuperEntry { }
yourEntryWouldBeHere { }
yourEntryWouldBeHereData { }

/* FEATURED LISTS DISPLAY CLASSES */
ftlistHeader { }

/* FEEDS DISPLAY CLASSES */
/* rssChannelTitle { }
rssChannelEntries { }
rssChannelEntry { }
rssChannelEntryDate { }
rssChannelEntryHead { }
rssChannelEntryDesc { }
rssChannelImage { }
rssChannelNoContent { } */

/* GLOBAL PATRON DISPLAY CLASSES */
patDisplay { }
patDisplayFunc { } 
patDisplayInfo { }
patInfo { }
patImage { }

/* HOLDINGS DISPLAY CLASSES */
holdingscode { }
holdingsDivider { }

/* LIMIT/SORT DISPLAY CLASSES */
limitEntriesFoundText { }
limitEntriesFoundNum { }
limitSearchTerm { }
limitSearchTypeIndex { }
limitSearchTypeText { }

/* PATRON FUNCTION TABLE AND FORM CLASSES */
patDisplay { } 
patDisplayFunc { }
patDisplayInfo { }
patFunc { }
patDisplayAuthor { }
patFuncBookDate { }
patFuncBtns { }
patFuncCallNo { }
patFuncCancel { }
patFuncDate { }
patFuncEntry { }
patFuncFinesDetail { }
patFuncFinesDetailAmt { }
patFuncFinesDetailDate { }
patFuncFinesDetailDateLabel { }
patFuncFinesDetailType { }
patFuncFinesEntryDetail { }
patFuncFinesEntryTitle { }
patFuncFinesTotal { }
patFuncFinesTotalAmt { }
patFuncFinesTotalLabel { }
patFuncHeaders { }
patFuncMark { }
patFuncModifyPatInfo { }
patFuncModifyPIN { }
patFuncModifyPINExample { }
patFuncNoEntries { }
patFuncPickup { }
patFuncPSrchBtn { }
patFuncPSrchType { }
patFuncRating { }
patFuncStatus { }
patFuncTitle { }

/* RESOURCE DISPLAY CLASSES */
resourceBib { }
resourceBibEntry { }
resourceBibHeader { }
resourceInfoData { }
resourceInfoLabel { }
resourceLicense { }
resourceLicenseEntry { }
resourceLicenseHeader { }
resourceLinkEntry { }
resourceResource { }

/* REQUEST DISPLAY CLASSES */
/* on_ice { }
reqFilltimeMsg { } */

/* WEBBRIDGE DISPLAY CLASSES */
/* NOTE: Only lowercase letters are allowed in the names of WebBridge display classes. */
/* wbbody { }
wbcategory { }
wbheading { }
wbsubheading { }
wblinkdisplay { }
wblinkfield { }
wblinktext { }
wbresourcelist { } */

-->



 
