.linkBanner {
    background-color:#CC0000;
}

.macLogo {
    width:169px;
    position:absolute;
    top:10px;
    left:38.5%;
}

#searchscope, #searchscopeLabel, .formScopeSearch {
    display:none;
}

.topLogoImage {
    padding: 57px 15px 15px;
}


