.linkBanner {
    background-color:#CC0000;
}

.macLogo {
    width:169px;
    position:absolute;
    top:10px;
    left:38.5%;
}



.topLogoImage {
    padding: 57px 15px 15px;
}

.browseSearchtool  td { border:none; padding: 5px 14px 5px 14px; text-align: center;}


.frontLimits {
    margin: auto;
    width: 55%;
}

#patButAR { display: none; }